{% extends 'base.html' %}

{% block title %}题目列表{% endblock %}

{% block content %}
    <div class="card bg-primary text-light">
        <div class="card-body row-cols-3 d-flex justify-content-between" style="padding-bottom: 0px;">
            <div class="row" style="text-align: left;">
                <a><i class="icofont-arrow-left"></i> 返回</a>
            </div>
            <div class="row" style="text-align: center;">
                <h5 class="mb-0 fw-bold ">测验名称</h5>
            </div>
            <div class="row" style="text-align: right">
                <p>得分：0</p>
            </div>
        </div>
    </div>

<form method="post">
    <br />
    {{ form.csrf_token }}
    {#  for problem in problems #}
    {{ form.text.label}}<br/>
    {% for subfield in form.singlechoices%}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
            <br />
        </tr>
    {% endfor %}
    {#  if 正确 #}
    <div style="background-color:#eee;padding:4pt;border-radius:4px;"><p style="margin-bottom: 0px">　回答正确，得 2 分</p></div>
    {#  else #}
    <div class="text-light" style="background-color:#FA5F55;padding:4pt;border-radius:4px;"><p style="margin-bottom: 0px">　回答错误，得 0 分<br>　正确答案：D</p></div>
</form>

{% endblock %}