{% extends 'base.html' %}

{% block title %}考试信息{% endblock %}

{% block content %}

    <div class="body d-flex py-lg-3 py-md-2">
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="border-0 mb-4">
                        <h3 class="fw-bold mb-0">{{ exam.name }}</h3>
                        <h3 class="fw-bold mb-0">考试科目：{{ exam.subject }}</h3>
                        <h3 class="fw-bold mb-0">开始时间：{{ exam.strt_t }}</h3>
                        <h3 class="fw-bold mb-0">结束时间：{{ exam.end_t }}</h3>
                        {% if label == 0 %}
                            <div>考试尚未开始</div>
                        {% elif label == 1 %}
                            <a href="{{ url_for('take_exam.show_exam', exam_id=exam.paper_id) }}">查看试卷</a>
                        {% elif label == 2 %}
                            <a href="{{ url_for('take_exam.take_exam', exam_id=exam.paper_id) }}">开始答题</a>
                        {% elif label == 3 %}
                            <div>考试已结束</div>
                        {% endif %}
                </div>
            </div> <!-- Row end  -->
        </div>
    </div>


{% endblock %}