{% extends 'base.html' %}

{% block title %}显示考试{% endblock %}

{% block content %}
    <div class="body d-flex py-lg-3 py-md-2">
            <div class="container-xxl">

                <div class="row align-items-center">
                    <div class="border-0 mb-4">
                        <div class="card-header no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                            <h3 class="fw-bold mb-0 py-3 pb-2">我的考试</h3>
                            <div class="col-auto py-2 w-sm-100">
                                <ul class="nav nav-tabs tab-body-header rounded invoice-set" role="tablist">
                                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#Invoice-All" role="tab">所有考试</a></li>
                                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Invoice-ING" role="tab">正在进行</a></li>
                                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#Invoice-END" role="tab">已结束</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row end  -->

                <div class="row justify-content-center">
                    <div class="col-lg-12 col-md-12">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="Invoice-All">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12">
                                        {% if not exams %}
                                            <tr>
                                                <td colspan="6">无考试</td>
                                            </tr>
                                        {% else %}
                                            {% for exam in exams %}
                                                <div class="card mb-3">
                                                    <div class="card-body d-sm-flex justify-content-between">
                                                        <a href="{{ url_for('view_exam.show_information', paper_id = exam.paper_id) }}" class="d-flex">
                                                            <div class="flex-fill ms-3 text-truncate">
                                                                <h6 class="d-flex justify-content-between mb-0"><span>{{ exam.name }}</span></h6>
                                                                <span class="text-muted">{{ exam.subject }}</span>
                                                            </div>
                                                        </a>
                                                        <div class="text-end d-none d-md-block">
                                                            {% if time.time() < time.mktime(exam.strt_t.timetuple()) %}
                                                                <p class="mb-1">未开始</p>
                                                            {% elif time.time() > time.mktime(exam.end_t.timetuple())%}
                                                                <p class="mb-1">已结束</p>
                                                                <span class="text-muted">得分：{{ exam.anspapers.filter_by(student_id=1).first().score_all }}</span>
                                                            {% else %}
                                                                <p class="mb-1">正在进行</p>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    <div class="card-footer justify-content-between d-flex align-items-center">
                                                        <div class="d-none d-md-block">
                                                            <strong>测试开始时间：</strong>
                                                            <span>{{ exam.str_t }}</span>
                                                            <strong>测试结束时间：</strong>
                                                            <span>{{ exam.end_t }}</span>
                                                        </div>
                                                        <div class="card-hover-show">
                                                            <a class="btn btn-sm btn-white border lift" href="{{ url_for('view_exam.show_information', paper_id = exam.paper_id) }}">查看考试信息</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                </div>  <!-- Row end  -->
                            </div> <!-- tab end  -->

                            <div class="tab-pane fade" id="Invoice-ING">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12">
                                            {% for exam in exams %}
                                                {% if time.time() > time.mktime(exam.strt_t.timetuple()) and time.time() < time.mktime(exam.end_t.timetuple()) %}
                                                    <div class="card mb-3">
                                                        <div class="card-body d-sm-flex justify-content-between">
                                                        <a href="{{ url_for('teacher.show_information', paper_id = exam.paper_id) }}" class="d-flex">
                                                            <div class="flex-fill ms-3 text-truncate">
                                                                <h6 class="d-flex justify-content-between mb-0"><span>{{ exam.name }}</span></h6>
                                                                <span class="text-muted">{{ exam.subject }}</span>
                                                            </div>
                                                        </a>
                                                            <div class="text-end d-none d-md-block">
                                                                <p class="mb-1">正在进行</p>
                                                            </div>
                                                        </div>
                                                        <div class="card-footer justify-content-between d-flex align-items-center">
                                                            <div class="d-none d-md-block">
                                                                <strong>测试开始时间：</strong>
                                                                <span>{{ exam.str_t }}</span>
                                                                <strong>测试结束时间：</strong>
                                                                <span>{{ exam.end_t }}</span>
                                                            </div>
                                                            <div class="card-hover-show">
                                                                <a class="btn btn-sm btn-white border lift" href="{{ url_for('teacher.show_information', paper_id = exam.paper_id) }}">查看考试信息</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                                    </div>
                                </div>  <!-- Row end  -->
                            </div> <!-- tab end  -->

                            <div class="tab-pane fade" id="Invoice-END">
                                <div class="row justify-content-center">
                                    <div class="col-lg-8 col-md-12">
                                            {% for exam in exams %}
                                                {% if time.time() > time.mktime(exam.end_t.timetuple()) %}
                                                <div class="card mb-3">
                                                    <div class="card-body d-sm-flex justify-content-between">
                                                        <a href="{{ url_for('teacher.show_information', paper_id = exam.paper_id) }}" class="d-flex">
                                                            <div class="flex-fill ms-3 text-truncate">
                                                                <h6 class="d-flex justify-content-between mb-0"><span>{{ exam.name }}</span></h6>
                                                                <span class="text-muted">{{ exam.subject }}</span>
                                                            </div>
                                                        </a>
                                                        <div class="text-end d-none d-md-block">
                                                            <p class="mb-1">已结束</p>
                                                            <span class="text-muted">得分：{{ exam.anspapers.filter_by(student_id=1).first().score_all }}</span>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer justify-content-between d-flex align-items-center">
                                                        <div class="d-none d-md-block">
                                                            <strong>测试开始时间：</strong>
                                                            <span>{{ exam.str_t }}</span>
                                                            <strong>测试结束时间：</strong>
                                                            <span>{{ exam.end_t }}</span>
                                                        </div>
                                                        <div class="card-hover-show">
                                                            <a class="btn btn-sm btn-white border lift" href="{{ url_for('teacher.show_information', paper_id = exam.paper_id) }}">查看考试信息</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endif %}
                                            {% endfor %}
                                    </div>
                                </div>  <!-- Row end  -->
                            </div> <!-- tab end  -->

                        </div>
                    </div>

                </div> <!-- Row end  -->
            </div>
        </div>
    </div>


{% endblock %}