{% extends 'base.html' %}

{% block title %}题目列表{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}
        <div class="alert alert-info alert-dismissible fade show">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    <div class="card bg-primary text-light">
        <div class="card-body row-cols-3 d-flex justify-content-between" style="padding-bottom: 0px;">
            <div class="row" style="text-align: left;">
                <a href="{{ url_for('.show_information', paper_id=exam.paper_id)}}"><i class="icofont-arrow-left"></i> 返回</a>
            </div>
            <div class="row" style="text-align: center;">
                <h5 class="mb-0 fw-bold ">{{ exam.name }}</h5>
            </div>
            <div class="row" style="text-align: right">
                <p>平均分：{{ exam.score }}</p>
            </div>
        </div>
    </div>

<span>
    <br />
    {% for probanls in exam.probanls %}
        {% if probanls.problem.type == 0 %}
            <div class="card bg-light " style="margin-bottom: 10pt;">
                <div class="card-body justify-content-between ">
                <p>{{ loop.index}}.<span class="text-muted">[判断]</span>{{probanls.problem.text}}<span class="text-muted">(1分)</span></p>
                <div style="float:left;">T</div><div style="float: right">选择人数：{{ probanls.T_count }}</div>
                <br>
                <div style="float:left;">F</div><div style="float: right">选择人数：{{ probanls.F_count }}</div>
                <br>
                <br>
                <div style="background-color:#eee;padding:4pt;border-radius:4px;border:5px"><p style="margin-bottom: 0px">正确答案：{{ probanls.problem.solution }}<br />正确率：{{ probanls.accuracy }}</p></div>
                </div>
            </div>
        {% elif probanls.problem.type == 1 %}
            <div class="card bg-light " style="margin-bottom: 10pt;">
                <div class="card-body justify-content-between ">
                <p>{{loop.index}}.<span class="text-muted">[单选]</span>{{probanls.problem.text}}<span class="text-muted">(1分)</span></p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">A. {{probanls.problem.choice_A}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.A_count }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">B. {{probanls.problem.choice_B}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.B_count }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">C. {{probanls.problem.choice_C}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.C_count }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">D. {{probanls.problem.choice_D}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.D_count }}</span></div>
                        </div>
                    </div>
                    <br>
                    <div style="background-color:#eee;padding:4pt;border-radius:4px;border:5px"><p style="margin-bottom: 0px">正确答案：{{ probanls.problem.solution }}<br />正确率：{{ probanls.accuracy }}</p></div>
                </div>
            </div>
        {% else %}
            <div class="card bg-light " style="margin-bottom: 10pt;">
                <div class="card-body justify-content-between ">
                <p>{{ loop.index}}.<span class="text-muted">[多选]</span>{{probanls.problem.text}}<span class="text-muted">(1分)</span></p>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10">A. {{probanls.problem.choice_A}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.A_count }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">B. {{probanls.problem.choice_B}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.B_count }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">C. {{probanls.problem.choice_C}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.C_count }}</span></div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">D. {{probanls.problem.choice_D}}</div>
                            <div class="col-md-2"><span class="pull-right">选择人数：{{ probanls.D_count }}</span></div>
                        </div>
                    </div>
                    <br>
                    <div style="background-color:#eee;padding:4pt;border-radius:4px;border:5px"><p style="margin-bottom: 0px">正确答案：{{ probanls.problem.solution }}<br />正确率：{{ probanls.accuracy }}</p></div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <br />
</div>
{% endblock %}