{% extends 'base.html' %}
{% block title %}添加题目至试卷{% endblock %}
{% block plugin_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/datatables/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/datatables/dataTables.bootstrap5.min.css') }}">
{% endblock %}

{% block content %}

    <div class="body d-flex py-lg-3 py-md-2">
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="border-0 mb-4">
                    <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                        <h3 class="fw-bold mb-0">题库</h3>

                    </div>
                </div>
            </div> <!-- Row end  -->
            <div class="row clearfix g-3">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body">
                            <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>类型</th>
                                        <th>题干</th>
                                        <th>标签</th>
                                        <th>引用次数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% if not problems %}
                                    <tr>
                                        <td colspan="6">无题目</td>
                                    </tr>
                                {% else %}
                                    {% for problem in problems %}
                                        {% include 'exam_view/_problem.html' %}
                                    {% endfor %}
                                {% endif %}

                                </tbody>
                            </table>
                            <div class="col-auto d-flex w-sm-100">
                                <form action="{{ url_for('manage_exam.exam_search_add') }}" method="post">
                                    <input class="btn btn-dark btn-set-task w-sm-100" type="submit" name="submit" value="导入题目">
                                </form>

                            </div>

                        </div>
                    </div>
                </div>
            </div><!-- Row End -->
        </div>
    </div>


{% endblock %}

{% block plugin_js %}
<script src="{{ url_for('static', filename='bundles/dataTables.bundle.js') }}"></script>
{% endblock %}

{% block custom_js %}
<script>
        $(document).ready(function() {
        $('#myProjectTable')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });

        });


</script>
{% endblock %}