{% extends 'base.html' %}

{% block title %}修改题目{% endblock %}

{% block content %}
    <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
        <h3 class="fw-bold mb-0">生成测试</h3>
        <div class="col-auto d-flex w-sm-100">
            <a href="{{ url_for('.exam_search_add') }}" class="btn btn-dark btn-set-task w-sm-100"><i class="icofont-plus-circle me-2 fs-6"></i>添加题目</a>
        </div>

    </div>
    <form method="post">
                            {{ form.name.label }}<br/>{{ form.name }}<br/>
                            {{ form.subject.label }}<br/>{{ form.subject }}<br/>
                            {{ form.strt_time.label }}<br/>{{ form.strt_time }}<br/>
                            {{ form.end_time.label }}<br/>{{ form.end_time }}<br/>
                            {{ form.add_stu.label }}<br/>{{ form.add_stu }}<br/>
                            {{ form.add_prob.label }}<br/>{{ form.add_prob }}<br/>
                            {{ form.auto_gen.label }}<br/>{{ form.auto_gen }}<br/>
                            {{ form.submit.label }}<br/>{{ form.submit }}<br/>

                        </form>
{% endblock %}