{% extends 'base.html' %}

{% block title %}修改题目{% endblock %}

{% block content %}
    <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
        <h3 class="fw-bold mb-0">Tickets</h3>
        <div class="col-auto d-flex w-sm-100">
            <a href="{{ url_for('problem.home') }}" class="btn btn-dark btn-set-task w-sm-100"><i class="icofont-plus-circle me-2 fs-6"></i>添加题目</a>
        </div>
    </div>
{% endblock %}