{% extends 'base.html' %}

{% block title %}修改题目{% endblock %}

{% block content %}

<form method="post">

    {{ form.csrf_token }}
    {{ form.type.label }}
    {{ form.type }}<br />
    {% for message in form.type.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.text.label }}<br />{{ form.text }}<br />
    {% for message in form.text.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.choice_A.label }}<br />{{ form.choice_A }}<br />
    {% for message in form.choice_A.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.choice_B.label }}<br />{{ form.choice_B }}<br />
    {% for message in form.choice_B.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.choice_C.label }}<br />{{ form.choice_C }}<br />
    {% for message in form.choice_C.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.choice_D.label }}<br />{{ form.choice_D }}<br />
    {% for message in form.choice_D.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.solution.label }}<br />{{ form.solution }}<br />
    {% for message in form.solution.errors %}
        <small class="error">{{ message }}</small><br />
    {% endfor %}
    {{ form.tags.label }}<br />{{ form.tags }}<br />
    {{ form.submit(value='修改试题') }}<br />

</form>


{% endblock %}