{% extends 'base.html' %}

{% block title %}教师题库管理{% endblock %}

{% block plugin_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/datatables/responsive.dataTables.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='plugin/datatables/dataTables.bootstrap5.min.css') }}">
{% endblock %}

{% block content %}

    <div class="body d-flex py-lg-3 py-md-2">
        <div class="container-xxl">
            {% for message in get_flashed_messages() %}
                <div class="alert alert-info alert-dismissible fade show">
                    {{ message }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
            <div class="row align-items-center">
                <div class="border-0 mb-4">
                    <div class="card-header py-3 no-bg bg-transparent d-flex align-items-center px-0 justify-content-between border-bottom flex-wrap">
                        <h3 class="fw-bold mb-0">我管理的试题</h3>
                        <div class="col-auto d-flex w-sm-100">
                            <span type="button" class="btn btn-dark btn-set-task w-sm-100 problem-edit" problem-id="0" >
                                <i class="icofont-plus-circle me-2 fs-6"></i>新建试题
                            </span>
                        </div>
                    </div>
                </div>
            </div> <!-- Row end  -->
            <div class="row clearfix g-3">
                <div class="col-sm-12">
                    <div class="card mb-3">
                        <div class="card-body">

                            <table id="myProjectTable" class="table table-hover align-middle mb-0" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>类型</th>
                                        <th>题干</th>
                                        <th>标签</th>
                                        <th>引用次数</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for problem in problems %}
                                        <tr>
                                            <td><span class="fw-bold">{{ problem.problem_id }}</span></td>
                                            <td>
                                                {% if problem.type == 0 %}判断{% endif %}
                                                {% if problem.type == 1 %}单选{% endif %}
                                                {% if problem.type == 2 %}多选{% endif %}
                                            </td>
                                            <td>{{ problem.text | truncate(25) }}</td>
                                            <td>
                                                {% for tag in problem.tags %}
                                                    <span class="badge bg-success">{{ tag.tag_name }}</span>
                                                {% endfor %}
                                            </td>
                                            <td>0</td> {# TODO: 添加引用次数 #}
                                            <td>
                                                <div class="btn-group" role="group" aria-label="Basic outlined example">
                                                    <button problem-id="{{ problem.problem_id }}" class="btn btn-outline-secondary problem-edit"><i class="icofont-edit text-success"></i></button>
                                                    <form class="inline-form" method="post" action="{{ url_for('problem.delete_problem', problem_id=problem.problem_id) }}">
                                                        <button class="btn btn-outline-secondary" onclick="return confirm('确定删除？')"><i class="icofont-ui-delete text-danger"></i></button>
                                                    </form>
                                                     </a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div><!-- Row End -->
        </div>



        <div class="modal fade" id="problem-edit-pane" tabindex="-1" aria-labelledby="addUserLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title  fw-bold" id="addUserLabel">
                            编辑试题
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}

{% block plugin_js %}
<script src="{{ url_for('static', filename='bundles/dataTables.bundle.js') }}"></script>
{% endblock %}

{% block custom_js %}
<script>


    $(document).ready(function() {
        $('#myProjectTable')
        .addClass( 'nowrap' )
        .dataTable( {
            responsive: true,
            columnDefs: [
                { targets: [-1, -3], className: 'dt-body-right' }
            ]
        });

        $('.deleterow').on('click',function(){
        var tablename = $(this).closest('table').DataTable();
        tablename
                .row( $(this)
                .parents('tr') )
                .remove()
                .draw();

        } );

        $('.problem-edit').on('click', function(){
            let id = $(this).attr("problem-id");
            $.post("{{ url_for('problem.render_edit_form') }}", {
                id: id
            }, function(data, status) {
                $('#problem-edit-pane').html(data).modal("show");
                if ($('#problem-type').val() === '0') $('#choice-fields').hide();
            })
        });

        $(document).on('click', '#problem-edit-submit', function() {  // 在 Modal 中必须这么写，不知道为什么……
           $.post("{{ url_for('problem.edit_problem') }}", $('#edit-form').serialize(), function(data, status) {
               if (data === 'OK') {
                   window.location.reload();
               }
               else {
                   $('#problem-edit-pane').html(data);
                   if ($('#problem-type').val() === '0') $('#choice-fields').hide();
               }
           })
        });

        $(document).on('change', '#problem-type', function() {
            let x = $(this).val();
            if (x == '0') {
                $('#choice-fields').hide();
            }
            else {
                $('#choice-fields').show();
            }
        })

    });
</script>
{% endblock %}